/* Write the CSS for you answer here */
#container {
    position: relative;
    width: 600px;
    margin-left: 20%;
}

#landscape {
    position: absolute;
    width: 100%;
    z-index: 1;
    border:solid;
    border-color:black;
}

#tree {
    position: absolute;
    top:100px;
    left: 0px;
    width: 100%;
    z-index: 2;
    pointer-events: none;

 }


#blue {
    position: absolute;
    right: 200px;
    top: 300px;
    z-index: 1;

}
#red{
    position: absolute;
    right: 100px;
    top: 170px;
    z-index: 2;

}

#pink{
    position: absolute;
    right: 300px;
    top: 200px;
    z-index: 2;



}

#darkblue{
    position: absolute;
    right:400px;
    top: 320px;
    z-index: 2;

}

#green {
    position: absolute;
    z-index: 2;
    right: 40px;
    top: 340px;



}

#orange {
    position: absolute;
    left: 120px;
    top: 170px;
    z-index: 2;


}

.ball {
    width: 30px;
    transition: width;
    transition-timing-function: ease-in;
    transition-duration: 1s;
    animation-name:fallandBounce;
    animation-duration:3s;
    animation-fill-mode: forwards;

}


div:hover .ball { /*this will select all elements with of the ball class that are descendants of a div*/

    animation-name: fallandBounce;
    animation-duration:4s;
    animation-iteration-count:infinite;
}

@keyframes fallandBounce {
    from {

    }
    20%{
        top: 400px;
    }
    40% {
        top: 350px;
    }
    60% {
        top: 400px;
    }
    80%{
        top: 370px;
    }
    to{
        top: 400px;
    }
}







