/* Write the CSS for you answer here */
#container {
    position: relative;
    width: 600px;
    margin-left: 20%;
}

#landscape {
    position: absolute;
    width: 100%;
    z-index: 1;
}

#tree {
    position: absolute;
    top:100px;
    left: 0px;
    width: 100%;
    z-index: 2;

 }


#blue {
    position: absolute;
    right: 200px;
    top: 325px;
    z-index: 1;


}
#red{
    position: absolute;
    right: 100px;
    top: 150px;
    z-index: 2;



}

#pink{
    position: absolute;
    right: 300px;
    top: 200px;
    z-index: 2;


}

#darkblue{
    position: absolute;
    right:400px;
    top: 350px;
    z-index: 2;

}

#green {
    position: absolute;
    z-index: 2;
    right: 40px;
    top: 340px;



}

#orange {
    position: absolute;
    left: 120px;
    top: 170px;
    z-index: 2;


}







